<h1><%= t("servers.index.title") %></h1>

<div id="flash">
  <%= render "layouts/flash" %>
</div>

<%= turbo_frame_tag "servers_list" do %>
  <%= render "servers/servers_list", servers: @servers %>
<% end %>

<% if current_user.admin? %>
  <%= link_to t("servers.index.add_server"), new_server_path %>
<% end %>